<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Ninja to a Dojo</title>

</head>
<body>
    <a href="/">Home</a>

    <h1>Add A Ninja to a Dojo</h1>
    <form action="/ninja/create" method="POST">
        <select name="dojo_id">
            <!-- Need to create an option list for the user to select a dojo. -->
            <!-- Note that we are passing the dojo id into the value -->

            {% for dojo in dojos %}
            <option value={{dojo.id}}>{{dojo.name}}</option>
            {% endfor %}
        </select>
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="age" >age:</label>
        <input type="text" name="age">
        <input type="submit" value="Add User">
    </form>

</body>
</html>